#main-section {
  height: auto;
}

.meetup-nav {
  /* box-shadow: 5px 5px 5px green; */
  border-bottom: 3px solid green;
}

.bg-darkblue{
  background-color: rgb(12, 12, 34);
}
.bg-darkgreen {
  background-color: rgb(42, 143, 87);
}
.bg-green{
  background-color: rgb(45, 165, 121);
}
.text-green{
  color: rgb(66, 194, 155);
}


#heading-section {
 min-height: 80vh;
 background-image: url("./images/image1.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
#heading-section .dark-overlay {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0,0,0, 0.5);
}

#home-heading-section {
  min-height: 80vh;
  background: linear-gradient(to bottom right, rgb(94, 94, 192) 0%, rgb(27, 141, 27) 80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

#mission-section {
  height: 300px;

}
#category-section{
  background-color: lightyellow;
}
#category-section .a-category {
  text-decoration: none;
}

#dashboard-menu .dashboard-menu-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#dashboard-menu .dashboard-menu-link:hover {
  background-color: darkgrey;
  padding: 5px 15px;
  border-radius: 5px;
}

#dashboard-menu .dashboard-menu-link:active {
  background-color: darkgrey;
  padding: 5px 15px;
  border-radius: 5px;
}

.nav-sidebar-left{
  position: fixed;
  width: 15%;
  height: 100%;
  top: 60px;
  left: 0;
  overflow: auto;
  background-color:rgb(12, 12, 34);
}

.card-category{
  height: 320px;
  overflow: auto;
}
.card-category:hover{
  box-shadow: 2px 2px 7px 8px lightgrey;
}
.card-signup{
  box-shadow: 2px 2px 7px 8px lightgrey;
}
.card-login{
  box-shadow: 2px 2px 7px 8px lightgrey;
}
.desc-text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.img-member {
  width: 100px;
  height: 100px;
}
.service-img {
  border: 1px solid white;
  border-radius: 200%;
}

.group-breadcrumb-link {
  color: rgb(10, 119, 59);
}
.group-breadcrumb-link:hover {
  text-decoration : none;
  color: rgb(12, 12, 34);
}

#contact-section {
  height: 60vh;
  background-color:  rgb(247, 255, 252);
}
.pass-wrapper {
  position: relative;
  display: flex;

}
.pass-wrapper i {
  position: absolute;
  top: 38%;
  right: 6%;
}